/workdir/
/workdir-*/
/bin/

/e17_*/
/n7_*/
/r11_*/

/assets/*/*.R11

/text/tmp/
/text/mac-en-only-utf8/
/text/tmp-*/
/text/mac-psp-n7-en-utf8/
/text/mac-psp-e17-en-utf8/
/text/mac-psp-r11-en-utf8/
/text/mac-psp-e17-ru-utf8/
/text/mac-*-en-only-utf8/
/text/mac-*-ru-only-utf8/
/text/font/FONT*
/text/font/glyphs/
/text/font/glyphs-cn/
/text/font/e17*/
/text/font/n7*/
/text/font/r11*/
/text/font/widths-*.txt

/assets/*-r11-ru/
/text/other-psp-r11-ru/
/text/mac-psp-r11-ru-utf8/

/iso/*.iso
/iso/*.dax
/iso/*.cso

/patch/*.xdelta

/pbp/

/tools/GimConv/*.exe
/tools/GimConv/*.dll
/tools/GimConv/lib/
/tools/GimConv/src/
/tools/GimConv/data/
/tools/GimConv/Readme_Gimconv-*.txt

/*.exe
/*.dll
/*.DUMP
/*.lnk

misc/
__pycache__/
*.pyc
/.vscode
